%h1 Questions

= link_to 'New question', new_question_path(:format => :js), :class => 'btn', :remote => true

%table.questions.table.table-hover
  %thead
    %th Type
    %th Question
    %th
    %th
  %tbody
    = render :partial => 'questions/question', :collection => @questions
= paginate @questions
