%h1 Trials

= link_to 'New trial', new_trial_path(:format => :js), :class => 'btn', :remote => true

%table.trials.table.table-hover
  %thead
    %th Created at
    %th Name
    %th Start on
    %th Stop on
    %th Patients
  %tbody
    = render :partial => 'trials/trial', :collection => @trials

= paginate @trials
