$('#patient-#{@patient.id}-modal').modal('hide');
$('#patient-#{@patient.id}-modal').remove();
$('body').append('#{escape_javascript(render :partial => 'admin/patients/show')}');
$('#patient-#{@patient.id}-modal').modal('show');
